.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 3/2;
  transition: smooth 0.5s;

  position: relative;
  height: 250px; /* or whatever fits your layout */
  overflow: hidden;
}

.category-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(
    0,
    0,
    0,
    0.2
  ); /* You can tweak the 0.4 to be lighter/darker */
  z-index: 1;
}

.category-card:hover {
  background-size: 105%;
  transition: smooth 0.5s;
}

.category-card > p {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 15; /* So the text stays on top of the overlay */
}
